{
  "extends": [
    "metalab/legacy",
    "metalab/node"
  ],
  "plugins": [
    "babel"
  ],
  "parser": "babel-eslint",
  "rules": {
    "func-style": 0,
    "no-extra-semi": 0,
    "no-param-reassign": 0,
    "vars-on-top": 0,
    "max-len": 0,
    "import/no-commonjs": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "space-before-function-paren": 0,
    "babel/object-curly-spacing": 0
  }
}
